<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsnn.medstgmini.base.sys.dao.SysDatainterfaceLastRequestDao">
	<resultMap type="com.hsnn.medstgmini.base.sys.model.SysDatainterfaceLastRequest" id="BaseResultMap">
        <result property="id" column="id" javaType="Integer"/>
        <result property="interfaceId" column="interface_id" javaType="String"/>
        <result property="interfaceName" column="interface_name" javaType="String"/>
        <result property="interfaceUrl" column="interface_url" javaType="String"/>
        <result property="userType" column="user_type" javaType="Integer"/>
        <result property="userName" column="user_name" javaType="String"/>
        <result property="lastRequestTime" column="last_request_time" javaType="Date"/>
        <result property="isUsing" column="is_using" javaType="Integer"/>
	</resultMap>
	
	<sql id="full-columns" >
        t.id,
        t.interface_id,
        t.interface_name,
        t.interface_url,
        t.user_type,
        t.user_name,
        t.last_request_time,
        t.is_using
	</sql>
		
	<select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT <include refid="full-columns" />  
		FROM sys_datainterface_last_request t
		WHERE t.id =  #{value}
	</select>

	<insert id="save" useGeneratedKeys="false" keyProperty="id" parameterType="com.hsnn.medstgmini.base.sys.model.SysDatainterfaceLastRequest">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE">
			SELECT SYSDATAINTERFACELASTREQUESTSEQ.nextval  from dual id
        </selectKey>
		INSERT INTO sys_datainterface_last_request(
				id,	
	            interface_id ,
	            interface_name ,
	            interface_url ,
	            user_type ,
	            user_name ,
	            last_request_time ,
	            is_using 
		)
		VALUES (
				#{id},
	        	#{interfaceId},
	        	#{interfaceName},
	        	#{interfaceUrl},
	        	#{userType},
	        	#{userName},
	        	SYSDATE,
	        	#{isUsing}
		)
	</insert>

	<update id="update" parameterType="com.hsnn.medstgmini.base.sys.model.SysDatainterfaceLastRequest">
		UPDATE sys_datainterface_last_request  
		<set>
			interface_id = #{interfaceId},
			interface_name = #{interfaceName},
			interface_url = #{interfaceUrl},
			user_type = #{userType},
			user_name = #{userName},
			last_request_time = #{lastRequestTime},
			is_using = #{isUsing},
        </set>
		WHERE  id =  #{id}
	</update>
	
	<update id="updateBySelective" parameterType="com.hsnn.medstgmini.base.sys.model.SysDatainterfaceLastRequest">
		UPDATE sys_datainterface_last_request  
		<set>
	    	<if test="@OGNL@isNotEmpty(interfaceId)">
				interface_id = #{interfaceId},
			</if>
	    	<if test="@OGNL@isNotEmpty(interfaceName)">
				interface_name = #{interfaceName},
			</if>
	    	<if test="@OGNL@isNotEmpty(interfaceUrl)">
				interface_url = #{interfaceUrl},
			</if>
	    	<if test="@OGNL@isNotEmpty(userType)">
				user_type = #{userType},
			</if>
	    	<if test="@OGNL@isNotEmpty(userName)">
				user_name = #{userName},
			</if>
	    	<if test="@OGNL@isNotEmpty(isUsing)">
				is_using = #{isUsing},
			</if>
				last_request_time = SYSDATE
        </set>
		WHERE  id =  #{id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM sys_datainterface_last_request WHERE  id =  #{value}
	</delete>

	<select id="queryAll" parameterType="map" resultMap="BaseResultMap">
		SELECT <include refid="full-columns" />
	    FROM sys_datainterface_last_request t
		<where>
			<if test="@OGNL@isNotEmpty(id)">
				AND t.id = #{id}
		    </if>
			<if test="@OGNL@isNotEmpty(interfaceId)">
				AND t.interface_id = #{interfaceId}
		    </if>
			<if test="@OGNL@isNotEmpty(interfaceName)">
				AND t.interface_name = #{interfaceName}
		    </if>
			<if test="@OGNL@isNotEmpty(interfaceUrl)">
				AND t.interface_url = #{interfaceUrl}
		    </if>
			<if test="@OGNL@isNotEmpty(userType)">
				AND t.user_type = #{userType}
		    </if>
			<if test="@OGNL@isNotEmpty(userName)">
				AND t.user_name = #{userName}
		    </if>
			<if test="@OGNL@isNotEmpty(lastRequestTime)">
				AND t.last_request_time = #{lastRequestTime}
		    </if>
			<if test="@OGNL@isNotEmpty(isUsing)">
				AND t.is_using = #{isUsing}
		    </if>
		</where>
	</select>
	
	<insert id="insertBatch" parameterType="java.util.List" >
        INSERT INTO sys_datainterface_last_request (
            interface_id ,
            interface_name ,
            interface_url ,
            user_type ,
            user_name ,
            last_request_time ,
            is_using 
        ) VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
        (
        	#{item.interfaceId},
        	#{item.interfaceName},
        	#{item.interfaceUrl},
        	#{item.userType},
        	#{item.userName},
        	#{item.lastRequestTime},
        	#{item.isUsing}
        )
        </foreach>
	</insert>
	
	<select id="count" parameterType="map" resultType="int">
		SELECT count(1)
	    FROM sys_datainterface_last_request t
		<where>
			<if test="@OGNL@isNotEmpty(id)">
				AND t.id = #{id}
		    </if>
			<if test="@OGNL@isNotEmpty(interfaceId)">
				AND t.interface_id = #{interfaceId}
		    </if>
			<if test="@OGNL@isNotEmpty(interfaceName)">
				AND t.interface_name = #{interfaceName}
		    </if>
			<if test="@OGNL@isNotEmpty(interfaceUrl)">
				AND t.interface_url = #{interfaceUrl}
		    </if>
			<if test="@OGNL@isNotEmpty(userType)">
				AND t.user_type = #{userType}
		    </if>
			<if test="@OGNL@isNotEmpty(userName)">
				AND t.user_name = #{userName}
		    </if>
			<if test="@OGNL@isNotEmpty(lastRequestTime)">
				AND t.last_request_time = #{lastRequestTime}
		    </if>
			<if test="@OGNL@isNotEmpty(isUsing)">
				AND t.is_using = #{isUsing}
		    </if>
		</where>
	</select>
	
	<update id="updateByParams" >
		UPDATE sys_datainterface_last_request  t 
		<set>
		    <if test="@OGNL@isNotEmpty(model.interfaceId)">
				interface_id = #{model.interfaceId},
			</if>
		    <if test="@OGNL@isNotEmpty(model.interfaceName)">
				interface_name = #{model.interfaceName},
			</if>
		    <if test="@OGNL@isNotEmpty(model.interfaceUrl)">
				interface_url = #{model.interfaceUrl},
			</if>
		    <if test="@OGNL@isNotEmpty(model.userType)">
				user_type = #{model.userType},
			</if>
		    <if test="@OGNL@isNotEmpty(model.userName)">
				user_name = #{model.userName},
			</if>
		    <if test="@OGNL@isNotEmpty(model.lastRequestTime)">
				last_request_time = #{model.lastRequestTime},
			</if>
		    <if test="@OGNL@isNotEmpty(model.isUsing)">
				is_using = #{model.isUsing},
			</if>
	    </set>
		<where>
			<if test="@OGNL@isNotEmpty(params.id)">
				AND t.id = #{params.id}
		    </if>
			<if test="@OGNL@isNotEmpty(params.interfaceId)">
				AND t.interface_id = #{params.interfaceId}
		    </if>
			<if test="@OGNL@isNotEmpty(params.interfaceName)">
				AND t.interface_name = #{params.interfaceName}
		    </if>
			<if test="@OGNL@isNotEmpty(params.interfaceUrl)">
				AND t.interface_url = #{params.interfaceUrl}
		    </if>
			<if test="@OGNL@isNotEmpty(params.userType)">
				AND t.user_type = #{params.userType}
		    </if>
			<if test="@OGNL@isNotEmpty(params.userName)">
				AND t.user_name = #{params.userName}
		    </if>
			<if test="@OGNL@isNotEmpty(params.lastRequestTime)">
				AND t.last_request_time = #{params.lastRequestTime}
		    </if>
			<if test="@OGNL@isNotEmpty(params.isUsing)">
				AND t.is_using = #{params.isUsing}
		    </if>
		</where>
	</update>
	
	<update id="batchUpdate" parameterType="java.util.List">
	 <foreach collection="list" item="model" index="index" open="" separator=";" close="">
		UPDATE sys_datainterface_last_request  t 
		<set>
			 <if test="@OGNL@isNotEmpty(model.interfaceId)">
				interface_id = #{model.interfaceId},
			</if>
		    <if test="@OGNL@isNotEmpty(model.interfaceName)">
				interface_name = #{model.interfaceName},
			</if>
		    <if test="@OGNL@isNotEmpty(model.interfaceUrl)">
				interface_url = #{model.interfaceUrl},
			</if>
		    <if test="@OGNL@isNotEmpty(model.userType)">
				user_type = #{model.userType},
			</if>
		    <if test="@OGNL@isNotEmpty(model.userName)">
				user_name = #{model.userName},
			</if>
		    <if test="@OGNL@isNotEmpty(model.lastRequestTime)">
				last_request_time = #{model.lastRequestTime},
			</if>
		    <if test="@OGNL@isNotEmpty(model.isUsing)">
				is_using = #{model.isUsing}
			</if>
         </set>
		 where id =#{model.id}
	   </foreach>  
	</update>
</mapper>
