<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsnn.medstgmini.base.sys.dao.SysOperationLogDao">
	<resultMap type="com.hsnn.medstgmini.base.sys.model.SysOperationLog" id="BaseResultMap">
        <result property="id" column="id" javaType="Integer"/>
        <result property="sysId" column="sys_id" javaType="String"/>
        <result property="tableName" column="table_name" javaType="String"/>
        <result property="tableCode" column="table_code" javaType="String"/>
        <result property="serializeObj" column="serialize_obj" javaType="[B"/>
        <result property="operateType" column="operate_type" javaType="Integer"/>
        <result property="operation" column="operation" javaType="String"/>
        <result property="createrId" column="creater_id" javaType="String"/>
        <result property="createrName" column="creater_name" javaType="String"/>
        <result property="createrIp" column="creater_ip" javaType="String"/>
        <result property="mechanismName" column="mechanism_name" javaType="String"/>
        <result property="departmentName" column="department_name" javaType="String"/>
        <result property="jobName" column="job_name" javaType="String"/>
        <result property="createrDatetime" column="creater_datetime" javaType="Date"/>
        <!-- 拓展字段 -->
        <result property="userName" column="user_name" javaType="String"/>
        <result property="name" column="name" javaType="String"/>
	</resultMap>
	
	<sql id="full-columns" >
        t.id,
        t.sys_id,
        t.table_name,
        t.table_code,
        t.serialize_obj,
        t.operate_type,
        t.operation,
        t.creater_id,
        t.creater_name,
        t.creater_ip,
        t.mechanism_name,
        t.department_name,
        t.job_name,
        t.creater_datetime
	</sql>

	
	<select id="load" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT * from sys_operation_log where id =  #{value}
	</select>
	
	<select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT <include refid="full-columns" />,sur.user_name, sur.name
		from sys_operation_log t
		LEFT JOIN sys_user sur  ON sur.user_id=t.creater_id
		where t.id =  #{value}
	</select>
	
	<select id="findAll" resultMap="BaseResultMap">
		SELECT <include refid="full-columns" /> from sys_operation_log 
	</select>
	

	<insert id="persist" parameterType="com.hsnn.medstgmini.base.sys.model.SysOperationLog">
		INSERT INTO sys_operation_log(
		        id,
	            sys_id ,
	            table_name ,
	            table_code ,
	            serialize_obj,
	            operate_type ,
	            operation ,
	            creater_id ,
	            creater_name ,
	            creater_ip ,
	            creater_datetime
	    ) 
		VALUES (
				#{id},
	        	#{sysId},
	        	#{tableName},
	        	#{tableCode},
	        	#{serializeObj},
	        	#{operateType},
	        	#{operation},
	        	#{createrId},
	        	#{createrName},
	        	#{createrIp},
	        	SYSDATE
		)
	</insert>
	
	<insert id="save" useGeneratedKeys="false" keyProperty="id" parameterType="com.hsnn.medstgmini.base.sys.model.SysOperationLog">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE">
			SELECT SYSOPERATIONLOGSEQ.nextval from dual
        </selectKey>
		INSERT INTO sys_operation_log (id,sys_id,table_name,table_code,serialize_obj,operate_type,operation,creater_id,creater_name,creater_ip,mechanism_name, department_name, job_name,creater_datetime)
		VALUES(#{id},#{sysId},#{tableName},#{tableCode},#{serializeObj},#{operateType},#{operation},#{createrId},#{createrName},#{createrIp},#{mechanismName},#{departmentName},#{jobName},SYSDATE)
	</insert>
	
	<insert id="insertBatch" parameterType="java.util.List" >
        INSERT INTO sys_operation_log (
            id,
            sys_id ,
            table_name ,
            serialize_Obj,
            table_code ,
            operate_type ,
            operation ,
            creater_id ,
            creater_name ,
            creater_ip ,
            creater_datetime
        ) select SYSOPERATIONLOGSEQ.nextval,p.* from (
        <foreach collection="list" item="item" index="index" separator="union all">
        select 
        	#{item.sysId},
        	#{item.tableName},
        	#{item.serializeObj},
        	#{item.tableCode},
        	#{item.operateType},
        	#{item.operation},
        	#{item.createrId},
        	#{item.createrName},
        	#{item.createrIp},
        	SYSDATE 
       	from dual
        </foreach> ) p
	</insert>

	<update id="update" parameterType="com.hsnn.medstgmini.base.sys.model.SysOperationLog">
		UPDATE sys_operation_log  
		<set>
	        	sys_id = #{sysId},
	        	table_name = #{tableName},
	        	table_code = #{tableCode},
	        	serialize_obj = #{serializeObj};
	        	operate_type = #{operateType},
	        	operation = #{operation},
	        	creater_id = #{createrId},
	        	creater_name = #{createrName},
	        	creater_ip = #{createrIp},
	        	creater_datetime = #{createrDatetime},
        </set>
		WHERE  id =  #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM sys_operation_log WHERE  id =  #{value}
	</delete>

	<select id="queryAll" parameterType="map" resultMap="BaseResultMap">
		SELECT <include refid="full-columns" />,sur.user_name, sur.name 
	    FROM sys_operation_log t,sys_user sur
		<where>
			AND sur.user_id=t.creater_id
			<if test="@OGNL@isNotEmpty(userName)">
           	 	AND sur.user_name like '%'||#{userName}||'%'
	        </if>
	        <if test="@OGNL@isNotEmpty(name)">
	            AND sur.name like '%'||#{name}||'%'
	        </if>
			<if test="id !=null ">
	            AND t.id = #{id}
	        </if>
			<if test="sysId !=null and sysId != '' ">
	            AND t.sys_id = #{sysId}
	        </if>
			<if test="tableName !=null and tableName != '' ">
	            AND t.table_name = #{tableName}
	        </if>
			<if test="tableCode !=null and tableCode != '' ">
			    AND t.table_code like '%'||#{tableCode}||'%'
	        </if>
	        <if test="serializeObj !=null and serializeObj != '' ">
	            AND t.serialize_obj = #{serializeObj}
	        </if>
			<if test="operateType !=null">
	            AND t.operate_type = #{operateType}
	        </if>
			<if test="operation !=null and operation != '' ">
	            AND t.operation = #{operation}
	        </if>
			<if test="createrId !=null and createrId!='' ">
	            AND t.creater_id = #{createrId}
	        </if>
			<if test="createrName !=null and createrName!='' ">
	            AND t.creater_name = #{createrName}
	        </if>
			<if test="createrIp !=null and createrIp!='' ">
	            AND t.creater_ip = #{createrIp}
	        </if>
			<if test="@OGNL@isNotEmpty(startCreaterDatetime)">
	        	AND t.creater_datetime &gt;= to_date(#{startCreaterDatetime},'yyyy-MM-dd')
	        </if>
	        <if test="@OGNL@isNotEmpty(endCreaterDatetime)">
	        	AND t.creater_datetime &lt;= to_date(#{endCreaterDatetime},'yyyy-MM-dd')
	        </if>
		</where>
		<if test="orderColumn !=null and orderColumn != '' ">
        ORDER BY t.${orderColumn} <if test="orderDirection !=null and orderDirection != '' ">${orderDirection}</if>
        </if>
	</select>
	
</mapper>
